.home {
  background-color: #030b6b;
  min-height: 100vh;
  position: relative ;
  display: flex;
  flex-direction: column-reverse;
  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}
.home1{
  background-image: url("../../assets/HomePage.jpeg");
 
  height: 100vh;
  background-size: cover;
  border-bottom-right-radius: 10rem/* 160px */;
  border-bottom-left-radius: 10rem/* 160px */;
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  position: absolute;
  width: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1200ms;
  @media screen and (max-width: 600px){
    justify-content:space-around;
    padding-left: 9px;
  }


}

.bounce {


--tw-translate-y: -30rem/* -480px */;
transform: translateY(-30rem);
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.para{
color: white;
align-self: center;
font-size: 10rem;
font-weight: 700; 
@media screen and (max-width: 600px){
  font-size: 5rem;
  text-transform: uppercase ;
}
}

.scroll-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-content: center;
  gap:1.25rem;
  cursor: pointer;
  
}

.button-arrow{
  color: white;
  text-align: center;
  margin-top: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem/* 48px */;
    line-height: 1;
    transition-duration: 500ms;

}

.rotate-180{
  --tw-rotate: 180deg;
  transform: rotate(180deg);
}

.scroll-up-text{
  color: white;
  text-align: center;
  margin-top: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
}

.normal{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}
.hero-image {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}


